# ===============================
# NODE
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# ENV FILES
# ===============================
.env
server/.env
client/.env

# ===============================
# LOG FILES
# ===============================
logs
*.log

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# BUILD FILES
# ===============================
dist/
build/

# ===============================
# IDE FILES
# ===============================
.vscode/
.idea/

# ===============================
# COVERAGE
# ===============================
coverage/
